<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class='main-container'>

  <div class='title'>
    <header>
      <p class='text-uppercase'> {{ title.split(' ')[0] }} </p>
      <p class='text-uppercase'> {{ title.split(' ')[1] }} </p>
    </header>
    <div class='description'>
      <p class='text-uppercase'> {{description}} </p>
    </div>
  </div>

  <div class='start_button' routerLink='/dashboard'>
    <p class='text-uppercase'> start training now </p>
    <i class="arrow material-icons"> keyboard_arrow_down </i>
  </div>
</div>
