<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class='container'>

  <div id='title'>
    <header>
      <span class='text-uppercase'>
        {{ title.split(' ')[0] }}
      </span>
      <span class='text-uppercase'>
        {{ title.split(' ')[1] }}
      </span>
    </header>
    <div id='description'>
      <p class='text-uppercase'> {{description}} </p>
    </div>
  </div>

  <div id='start_button'>
    <p class='text-uppercase'> start training now </p>
    <i class="arrow material-icons md-48"> keyboard_arrow_down </i>
  </div>
</div>
