<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class='main-container'>

  <div class='title'>
    <header>
      <p> {{ title.split(' ')[0] | uppercase }} </p>
      <p> {{ title.split(' ')[1] | uppercase }} </p>
    </header>
    <div class='description'>
      <p> {{ description | uppercase }} </p>
    </div>
  </div>

  <div class='start-button' routerLink='/dashboard'>
    <p> {{ button | uppercase }} </p>
    <i class="arrow material-icons"> keyboard_arrow_right </i>
  </div>
</div>
