<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class='main-container'>

  <div class='header'>
    <p> {{ header | uppercase }} </p>
  </div>

  <div class='description' [ngStyle]="{display: innerWidth < '600' ? 'none' : 'flex'}">
    <p> {{ description }} </p>
  </div>

  <div class='list'>
    <div class='workout-box' 
    *ngFor='let workout of workouts' 
    [routerLink]=" isWorkoutEnabled(workout) ? ['/workout'] : []"
    >
        <img src='../../assets/avatars/{{ workout.name }}.png' alt="{{ workout.name }} img">
        <p> {{ workout.name }} </p>
        <i class="arrow material-icons"> keyboard_arrow_right </i>
    </div>
  </div>
</div>
