<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class='main-container'>

  <div class='header'>
    <p> {{ header | uppercase }} </p>
  </div>

  <div class='description' [ngStyle]="{display: innerWidth < '600' ? 'none' : 'flex'}">
    <p> {{ description }} </p>
  </div>

  <div class='list'>
    <div class='workout-box' 
    *ngFor='let workout of workouts' 
    (click)='setCurrentWorkout(workout)'
    [routerLink]=" isWorkoutEnabled(workout) ? ['/workout/', workout.name] : []">
      <img src='../../assets/avatars/{{ workout.name }}.png' alt="{{ workout.name }} img">
      <div class='name'>
        <p> {{ workout.name }} </p>
        <i *ngIf='!isWorkoutEnabled(workout)' class="material-icons"> lock </i>
      </div>

      <i class="arrow material-icons"> keyboard_arrow_right </i>
    </div>
  </div>
</div>
